.contenedor{
    background-color: royalblue;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.eli{
    margin: 20px;
    font-size: 40px;
    font-weight: 200;
    
}

img{
    height: auto;
    width: 20%;
    float: left;
    margin-right: 20px;
}
.main{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #55DAD2;
    box-sizing: border-box;
}
aside{
    width: 50%;
    padding: 20px;
    height: auto;
    box-sizing: border-box;
    float: right;
    background-color: #0CA8CE;
    margin-top: -450px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.text{
    width: 100%;
    float: left;
    background-color: #94A7CB ;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.estudios{
    width: 50%;
    max-width: 1000px;
    float: left;
    padding: 2%;
    margin-top: 1%;
    margin-right: 30%;
    background-color: steelblue;
    box-sizing: border-box;
}

@media (max-width: 800px){
   
    aside{
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .main{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .estudios{
        width: 100%;
    }
    .eli{
        width: 100%;
    }
}